<%- include include/header.ejs%>
<!--<div class="container">
  <p>Welcome to <%= title %></p>
  <%

 if(typeof user != 'undefined' && user != null){
     %>
  <table class="table">
    <thead >
    <tr>
      <th>姓名</th>
      <th>联系方式</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= user.username%></td>
      <td><%= user.email %></td>
    </tr>
    </tbody>
  </table>
    <%
 }
 %>

</div>-->
<%
 articles.forEach(function (item) {
     %>
<div class="media xys_margin_top">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="<%=item.user.avatar%>" alt="头像">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><%=item.title%></h4>
        <%- item.content%>
    </div>
    <div class="media-bottom">
        <strong>作者:<%=item.user.username%></strong>
        发表时间：<%=item.createTime.toLocaleString()%>
    </div>
</div>
<div class="table-bordered"></div>

<%
 })


 %>

<%- include include/footer.ejs%>

